{% extends "BuyMed/base.html" %}
{% load static %}

{% block content %}
<div class="mdui-container">
    <div class="mdui-table-fluid">
        <table class="mdui-table mdui-table-hoverable mdui-table-selectable">
            <thead>
                <tr>
                    <th>图片</th>
                    <th>名称</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th>总价</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    {% with product=item.product %}
                    <tr>
                        <td><img src="{{ product.image.url }}" height=100px></td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.number }}</td>                        
                        <td class="num">${{ item.price }}</td>
                        <td class="num">${{ item.total_price }}</td>
                    </tr>
                    {% endwith %}
                {% endfor %}
                <tr class="total">
                    <td colspan="4"></td>
                    <td class="num">${{ cart.get_total_price }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
